@charset "utf-8";
*{margin:0;padding:0}
a:hover{text-decoration: none !important;}
.dropdown:hover ul{
	display: block !important;
}
.dropdown-menu {
	background: #222222;
}
.dropdown-menu li a{
	color: white;
}
.navbar-fixed-left {
  width: 160px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 160px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -40px;
  margin-left: 160px;
}

.table thead th{ background: #222222; color: white; }

.text-line-through{text-decoration: line-through;}

.img-fix-size {width: 150px; height: 90px;}